@model List<BlogApp.Model.BlogModel>
@using BlogApp.Helper;
@{
    ViewBag.Title = "Home Page";
    var sessionHelper = new SessionHelper();
}

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}


<div class="jumbotron">
    <h1>Admin: @sessionHelper.IsAdmin()</h1>

</div>


<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Published Date</th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Title</td>
            <td>@item.ContentShort</td>
            <td>@item.PulbishedDateFormat</td>

        </tr>

    }
    <tbody>


</table>

